---
layout: default
---

<section class="main-wrap mx-auto wrapper top-heading">
    {% include lists/breadcrumbs.html %}
    <h2 class="">{{ page.title }}</h2>
</section>


<section class="main-wrap mx-auto wrapper pb-2 grid is-multi-col mostly-2">
    {%- for item in site.offices -%}
    <div>
        <h2 class="mt-0 co-primary">
            {{ item.location.title }}
        </h2>
        <div class=" py-1">
            <span class="d-blk">Address:</span>
            <p class="smalltext maxwidth-tb">{{ item.location.address }}</p>
        </div>
        <div class=" py-1">
            <span class="d-blk">Phone:</span>
            <a class="d-ibl smalltext" href="tel:{{ item.location.phone }}">
                {{ item.location.phone }}
            </a>
        </div>
        <div class=" py-1">
            <span class="d-blk">Email:</span>
            <a class="smalltext" href="mailto:{{ item.location.email }}">
                {{ item.location.email }}
            </a>
        </div>
        {%- if item.location.map_link -%}
        <div class="py-1">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4714.883156767138!2d3.4501494405786093!3d6.428935074193912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x12c3fd30848af2fb!2sCNS!5e0!3m2!1sen!2sng!4v1569063369262!5m2!1sen!2sng" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        {%- endif -%}
    </div>
    {%- endfor -%}
</section>
